<html lang="ko" mxlns:th="http:/www.thymeleaf.org">
<head th:fragment="boardFragmentHead">
    <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
    <div th:fragment="boardFragment" class="board">
        <form th:action="@{/board/create}" method="post">
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required/><br/>
            <label for="content"> 내용:</label>
            <textarea id="content" name="content" required></textarea><br/>
            <button type="submit">글 작성</button>
        </form>
        <br/>
        <h2>게시판 목록</h2>
        <ul>
            <li th:each="board : ${boards}" th:object="${board}">
               작성자 : <span th:text="${board.title}"></span> - 내용 : <span th:text="${board.content}"></span>
            </li>
        </ul>
    </div>
    <!-- <div th:fragment="boardFragment" class="board">
        오늘의 숙제~<br />dao, service 추가해서 게시판 글작성, 목록 보기 만들기 <br /> UI는 간단하게 여기서 작성해서 완성하기
    </div> -->
</body>
</html>