<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="replyFragmentHead">
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body>
        <div th:fragment="replyFragment" class="board container" th:object="${reply}" >
            <div class="d-flex justify-content-between align-items-center">
                <div th:text="'작성자 : '+*{userName}"></div>
                <p th:utext="'댓글 내용: '+*{comment} "></p>
                <div th:text="'작성일자 : ' +*{createdAt}"></div>
              </div>   
              <hr /> 
            <div th:if="${userId}==${replyId}||${userId}==${boardId}">
                <div th:replace="~{/board/addReply :: addReplyFragment}"></div>           
            </div>
        </div>
    </body>
</html>
       