<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="userInfoFragmentHead">
        <link rel="stylesheet" href="/styles/board/index.css" />
        <link rel="stylesheet" href="/styles/userInfo.css" />
    </head>
    <body>
        <div th:fragment="userInfoFragment" class="user-name">
                <div th:text="'작성자 : '+*{userName}" class="user-name-data"></div>
                <a th:if="*{userGitAddress} != null" class="user-git-address" th:href="*{userGitAddress}" target="_blank" th:text="*{userGitAddress}"></a>
        </div>
    </body>
</html>
