<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header.css" />
</head>
<body>
    <div th:fragment="loginFragment">
        <div th:if="${session.userName != null}" class="d-flex align-items-center mb-0">
            <span class="border border-primary" th:text="${session.userName}"></span>
            <form action="/logout" method="post" >
                <button type="submit" class="btn btn-secondary btn-sm">로그아웃</button>
            </form>
        </div>
        <th:block th:if="${session.userName == null}">
        <form action="/login" method="post" class="d-flex align-items-center mb-0"  id="loginbox" >
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="ID" id="id" name="userId" />
                <input type="password" class="form-control form-control-sm" placeholder="PW" id="password" name="password" />         
            </div>
            <button type="submit" class="btn btn-primary btn-sm">로그인</button>
            <a href="/user/regist"><button type="button" class="btn btn-outline-secondary btn-sm">회원가입</button></a>
        </form>
        <script src="/scripts/user/login.js"></script>
    </th:block>
    </div>
</body>
</html>
